= simple_form_for([@discussion, @reply], remote: true) do |f|
  .field
    .control
      =f.input :reply_text, input_html: {class: 'textarea'}, wrapper: false, label_html: {class: 'label'}
  = f.button :submit, 'Update reply', class: 'button is-info'
