- content_for(:html_title) { 'MHS - User Policy' }
%section.section
  .container
    .columns.is-centered
      .column.is-4
        %h2.title.is-2.is-spaced.has-text-centered User Policy
    %ul
      %li •	  Do not use the application to abuse or harass users.
      %li •	  Do not share personal information such as name, address, social media information or phone number on this site.
      %li •   We do not collect any personal data on our users other than emails.
      %li •	  Please contact us if you would like to report any discussions or comments. Please include the channel name, discussion name and an optional reply. We will look into the issue within 24 hours.
    .columns.is-centered
      .column.is-4
        %h2.title.is-3.is-spaced.has-text-centered Volunteer Policy
    %ul
      %li •	  We will not require qualifications for any of our volunteers, as the goal is to connect unqualified volunteers with people suffering from non-crisis mental health issues as active listeners.
      %li •	  We will not store identification documents once they have been used to verify users’ identity.
      %li •	  Identification may need to be revalidated after a certain period.
      %li •   We will not store a copy of this ID document, however we will store the full names of our volunteers once an ID is verified through Yoti
      %li •	  Volunteers will need to complete a small questionnaire on active listening skills and our policy before they can be connected to members.
      %li •	  Volunteer accounts will need to have been verified for a week before they can administrate the discussions and connect privately to members.
      %li •	  If volunteers are connected to a member in crisis, they are not to continue the conversation and must immediately refer the member to the relevant crisis line e.g. the Samaritans, Suicide Hotline.
    .columns.is-centered
      .column.is-4
        %h2.title.is-3.is-spaced.has-text-centered Member Policy
    %ul
      %li •	  This is not therapy site and is not a suitable replacement for help from medical professionals.
      %li •	  Our volunteers are not trained to handle people in crisis, if a member feels they are a harm to themselves or others they will be referred to a crisis line.
      %li •	  Some forum content may be limited/restricted if the content is found to be unsuitable or harmful to others.
      %li •	  Abusive or harmful comments may lead to member account termination. IP/Mac address may need to be blacklisted if multiple violations from different accounts are found to be from the same source.
