- content_for(:html_title) { 'MHS - Volunteer' }
%section.section
  .container
    .columns.is-centered
      .column.is-4
        %h2.title.is-2.is-spaced Volunteers Homepage
    %table.table.is-fullwidth
      %tr
        %th
          %p.subtitle.is-3 Training Questionaire
        -# If statement to change the button class to hidden could go here  
        %th= link_to 'Complete', 'questionnaire', {class: "button is-info is-rounded is-normal is-fullwidth"}
      %tr
        %th
          %p.subtitle.is-3 Edit Details
        %th= link_to 'Edit', edit_user_registration_path, {class: "button is-info is-rounded is-normal is-fullwidth"}
      %tr
        %th
          %p.subtitle.is-3 Logout of the session
        %th= button_to 'Logout', destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" }, class: "button is-danger is-rounded is-normal is-fullwidth"
