-# display @report
-#should be able to update a report with and admin comment and new review status
-# Example of how params should be sent can be found in test/controllers/report_controller_test.rb
-# under the update test
-# the HTML action must be patch to update. the path is reports_path
