%footer.footer.has-background-primary
  .content.has-text-centered.has-text-white
    %h1 © All rights reserved by Group 21
    .columns
      .column
        %h3.has-text-dark About Us
        %p.has-text-center.has-text-dark
          We are a small team of 6 trying to build a platform for people who want to talk about their mental health annonymously.
          We hope you feel safe and secure to talk about your feelings and experience in our platform.

      .column
        %h3.has-text-dark Our Website
        %ul
          %li
            %a{:href => "/twitter"} Twitter
          %li
            %a{:href => "/contact"} Contact
          %li
            %a{:href => "/users/sign_up"} Sign Up
          %li
            %a{:href => "/policy"} Policy
      .column
        %h3.has-text-dark Good links to visit
        %ul
          %li
            %a{:href => "https://www.supportline.org.uk/problems/suicide/"} Support Line
          %li
            %a{:href => "https://www.nhs.uk/mental-health/"} NHS Mental Health
          %li
            %a{:href => "https://www.nhs.uk/mental-health/feelings-symptoms-behaviours/behaviours/help-for-suicidal-thoughts/"} NHS Sucidide Line
          %li
            %a{:href => "https://www.mind.org.uk/information-support/guides-to-support-and-services/seeking-help-for-a-mental-health-problem/where-to-start/"} Mind.org
